html{
  min-height: 100%;
  position: relative;
  background-color: lightyellow;
}

.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow:hidden;
}

.fullContainer{
  display: flex;
  flex-direction: column;
}


.container {
  background-color: lightyellow;
  color: black;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.tittleLeft {
  font-size: 2vw;
  display: flex;
  justify-content: center;
}
