html {
  min-height: 100%;
  position: relative;
  padding-bottom: 15vh;
}

.containerTotal {
  gap: 5%;
  background-color: lightyellow;
}

/* .container {
  margin-bottom: 4%;
} */

.title {
  display: flex;
  font-size: 200%;
  justify-content: center;
  align-items: center;
}

.row1 {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.row2 {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.row3 {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.col1 {
  margin: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background-color: white;
  border-radius: 1vh;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.col2 {
  margin: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background-color: white;
  border-radius: 1vh;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.questionContainer {
  display: flex;
  font-size: 100%;
  text-align: justify;
  font-weight: bold;
  justify-content: center;
  padding-bottom: 0.5%;
}

.answerContainer {
  font-size: 100%;
  text-align: justify;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
