.container {
  background-color: lightyellow;
}

html{
    min-height: 100%;
    position: relative;
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}

.fullContainer{
    display: flex;
    flex-direction: column;
}

.row {
  padding: 2vh;
  background-color: rgb(255, 192, 124);
  border: 1px black solid;
  border-radius: 1vh;
}

.col2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-weight: 700;
}

.buttonUpdate {
  border-radius: 2vh;
}

.userImage {
  border-radius: 50%;
  /* width: 100px; */
}
@media screen and (max-width: 600px) {
  .userImage {
    width: 30px;
  }
}
