.container {
  background-color: lightyellow;
}

html {
  min-height: 100%;
  position: relative;
}

.middleRow {
  background-color: lightyellow;
  align-self: center;
  width: 85%;
  margin: auto;
  /* margin-bottom: 2vh; */
}

.middleRow2 {
  height: 50%;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.fullContainer {
  display: flex;
  flex-direction: column;
  background-color: lightyellow;
}

.row {
  padding: 2vh;
  background-color: lightyellow;
  border-bottom: 1px rgb(189, 186, 186) solid;
  border-top: 1px rgb(189, 186, 186) solid;
  /* border-radius: 1vh; */
}

.rowTitle {
  text-align: center;
  font-size: 5vh;
  /* margin: auto; */
  color: rgb(53, 49, 43);
  border: none;
}

.row2 {
  padding: 2vh;
  background-color: lightyellow;
  /* border: 1px black solid; */
  border-radius: 1vh;
}

.col11 {
  padding-top: 5vh;
}

.col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.check {
  display: flex;
}

.error {
  margin-top: 0.5vh;
  font-size: 1.4vh;
  color: #f9bf00;;
  width: 140%;
  text-align: center;
}

.errorInputs {
  border-radius: 1vh;
  border: solid 2px #f9bf00;;
}

.errorInputs:hover {
  border-radius: 1vh;
  border: solid 2px #f9bf00;;
}

.col2modify {
  display: none;
}

.col3 {
  text-align: center;
  font-size: 5vh;
  margin: auto;
  color: rgb(53, 49, 43);
}

.text {
  font-weight: 700;
}

.inputs {
  border-radius: 1vh;
  border: solid 1.5px grey;
  width: 165px;
}

.buttonUpdate {
  border-radius: 1vh;
  background-color: rgb(240, 238, 238);
  border: solid 2px black;
}

.buttonUpdate:hover {
  background-color: rgb(215, 212, 212);
}

.userImage {
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .userImage {
    width: 30px;
  }
}
