
html{
    min-height: 100%;
    position: relative;
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}

.fullContainer{
    display: flex;
    flex-direction: column;
}


.col1{
    margin-bottom: 10vh;
}

.container {
  background-color: lightyellow;
}

