html {
  min-height: 100%;
  position: relative;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.fullContainer {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  font-size: 200%;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.col1 {
  margin-bottom: 10vh;
}

.container {
  background-color: lightyellow;
}

.email {
  width: 88%;
  background-color: lightyellow;
  margin: auto;
  font-size: 14px;
}
