.creadores{
    font-size: 7rem;
    color: white;
    text-shadow: 0 0 5px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section{
    font-size: 2rem;
    padding: 2rem;
    background-color: black;
    color: white;
}


@media screen and (max-width: 991px){
    .col2{
        margin-top: -2vh;
    } 
}

