.fullContainer{
  display: flex;
  flex-direction: column;
  width: 100vw;
}

/* html {
  min-height: 100%;
  position: relative;
  background-color: lightyellow;
} */

.container {
  background-color: lightyellow;
}

.col1 {
  /* border: 1px solid black; */
  margin: auto;
  width: 100vw;
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}

#all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  margin-left: -0.8%;
}

#explore {
  /* border: solid 1px black; */
  background-color: #f9bf00;
  height: 11vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  align-items: center;
}

.title1 {
  /* border: 1px solid black; */
  text-align: center;
  margin: auto;
  /* top: 10vh; */
  font-size: 2vw;
  font-weight: 350;
}

#myQuestions {
  /* border: solid 1px black; */
  height: fit-content;
  display: flex;
  width: 85%;
  margin: auto;
  flex-direction: column;
  gap: 3vh;
  position: relative;
  top: 3vh;
}

@media screen and (max-width: 950px) {
  #explore p{
  font-size: 24px;
  }
}
