.fullContainer{
  display: flex;
  flex-direction: column;
  width: 100%
}

/* html {
  min-height: 100%;
  position: relative;
  background-color: lightyellow;
} */

.container {
  background-color: lightyellow;
}

.col1 {
  /* border: 1px solid black; */
  margin: auto;
  width: 90%;
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}

#all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 98%;
  /* margin-left: 2%; */
}

#explore {
  /* border: solid 1px black; */
  height: 9vh;
  display: grid;
  grid-template-columns: 1fr 10fr;
  align-content: flex-end;
}

#explore p {
  position: relative;
  text-align: center;
  margin-top: 1vh;
  font-size: 2.2vw;
}

#myQuestions {
  /* border: solid 1px black; */
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  position: relative;
  top: 3vh;
}

@media screen and (max-width: 950px) {
  #explore p{
  font-size: 24px;
  }
}
