/* landing LOGIN */
html{
  min-height: 100%;
  position: relative;
}

.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow:hidden;
}

.fullContainer{
  display: flex;
  flex-direction: column;
}

.middleRow{
  margin-bottom: 5vh;
}


.container {
  background-color: lightyellow;
}

.col1 {
  border: 1px black solid;
}

.col2 {
  display: flex;
  border: 1px black solid;
  align-items: initial;
}

.colOut {
  display: flex;
  border: 1px black solid;
  align-items: center;
}

/* Landing Logout */

.rightRowTop {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.rightRowUp {
  background-color: lightyellow;
  padding: 1%;
  margin: 1%;
}

.rightRowMidle {
  background-color: lightyellow;
  padding: 1%;
}
.rightRowDown {
  background-color: lightyellow;
  padding: 1%;
}

.Titulo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 400%;
}
.rigthContainer {
  padding: 0;
}

.subTitulo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 200%;
  letter-spacing: 13px;
}

/*Scrollbar*/

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
  background: rgb(140, 140, 140);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.606);
  border-radius: 10px;
}

.datosUser{
  background-color: white;
  border-radius: 1vh;
  box-shadow:2px 2px 2px 1px rgba(0,0,0,0.2);
  padding: 4%;
  margin: 5%;
  width: 70%;
}

.estadisticas{
  font-size: large;
  font-weight: bolder;
}