.container {
  background-color: lightyellow;
}

.col1 {
  border: 1px black solid;
}

.col2 {
  display: flex;
  border: 1px black solid;
  align-items: center;
}

.colOut {
  display: flex;
  border: 1px black solid;
  align-items: center;
}
