html {
  min-height: 100%;
  position: relative;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.container {
  background-color: lightyellow;
}

.fullContainer {
  display: flex;
  flex-direction: column;
  background-color: lightyellow;
}

.col1 {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

#all {
  width: 100%;
}

#explore {
  font-weight: 600;
  text-align: center;
  font-size: 2.5vw;
}

#filters {
  border: solid 1px black;
  border-radius: 0.5vh;
  box-shadow: 3px 3px 3px grey;
  background-color: #f9bf00;
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#myQuestions {
  /* border: solid 1px black; */
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  position: relative;
  top: 3vh;
  /* z-index: -1;        esto lo puse para que el boton de delete no quede por encima del dropdown cuando se abre */
}

.btnCreate {
  background-color: transparent;
  border: none;
  border-radius: 0.5vh;
  font-size: 2.5vh;
}

.btnCreate:hover {
  cursor: pointer;
  color: #f9bf00fb;
  /* background-color: rgb(244, 244, 209); */
}

.imgQuest {
  margin-left: 5px;
  margin-top: -5px;
}

@media screen and (max-width: 950px) {
  #explore {
    font-size: 24px;
  }
}

@media screen and (max-width: 500px) {
  #filters {
    flex-direction: column;
    height: 9vh;
  }

  .filterIcon {
    display: none;
  }

  .container {
    width: 98%;
  }
}
