.fullContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  
.container {
    background-color: lightyellow;
}

.col1 {
    /* border: 1px solid black; */
    margin: auto;
    width: 100vw;
}

#all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    margin-left: -0.8%;
}

#explore {
    /* border: solid 1px black; */
    background-color: #f9bf00;
    height: 11vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    /* border: 1px solid black; */
    text-align: center;
    margin: auto;
    /* top: 10vh; */
    font-size: 2vw;
    font-weight: 350;
}
  
/* 
.html{
    min-height: 100%;
    position: relative;
} */

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}

.fullContainer{
    display: flex;
    flex-direction: column;
}

#myQuestions {
    /* border: solid 1px black; */
    height: fit-content;
    display: flex;
    width: 85%;
    margin: auto;
    flex-direction: column;
    gap: 3vh;
    position: relative;
    top: 3vh;
}

.btnCreate {
    background-color: transparent;
    border: none;
    border-radius: 0.5vh;
    font-size: 2.5vh;
}
  
.btnCreate:hover {
    cursor: pointer;
    color: #f9bf00fb;
    /* background-color: rgb(244, 244, 209); */
}

.imgQuest {
    margin-left: 5px;
    margin-top: -5px;
  }

@media screen and (max-width: 950px) {
    #explore p{
    font-size: 24px;
    }
}