html {
  min-height: 100%;
  position: relative;
}

.container {
  background-color: lightyellow;
  display: flex;
  justify-content: center;
}

.tandt {
  background-color: lightyellow;
  display: flex;
  justify-content: center;
}

.col {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  display: flex;
  font-size: 200%;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.text {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: justify;
}

.extra {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1%;
}

.currency {
  display: flex;
  justify-content: center;
  font-size: 250%;
}

.input {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  border-radius: 0.5vh;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.paypalbox {
  display: flex;
  justify-content: center;
}

.advertencia {
  color: red;
  margin-bottom: 0;
}

/* .BoxPaypalOne{
    background-color: rgb(253, 246, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vh;
    box-shadow:2px 2px 2px 1px rgba(0,0,0,0.2);
    background-size: 200%;
    height: 100%;
    width: 50%;
    margin: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    flex-direction: column;

  }

  .BigPaypalOne{

    position: relative;
    min-width: 100%;
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
    background-image: url(../../images/backgrounddonate.png);
    background-size: cover;
    opacity: 100%;
  } */

/*   
  .plata{
    font-size: 250%;
  }

  .setValor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

.paypalLogo{
  width: 20%;
}
.paypalArea{
  display: flex;
  align-items: center;
  justify-content: center;


  flex-direction: column;
} */
