html{
    min-height: 100%;
    position: relative;
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}

.fullContainer{
    display: flex;
    flex-direction: column;
}

.middleRow{
    margin-top: 3vh;
    margin-bottom: 10vh;
}