html {
  min-height: 100%;
  position: relative;
}

.userImageTop {
  display: flex;
  justify-content: center;
  margin-right: 2vh;
}

.colunmNroTop {
  display: flex;
  justify-content: center;
  margin-right: 2.5vh;
}

.colunmNickTop {
  display: flex;
  justify-content: center;
  margin-right: 2vh;
}

.colunmTeachTop {
  display: flex;
  justify-content: center;
  margin-right: 2vh;
}

.colunmRespTop {
  display: flex;
  justify-content: center;
  margin-right: 2vh;
}

.colunmPregTop {
  display: flex;
  justify-content: center;
}

.userImage {
  border-radius: 30px;
  width: 8vh;
  padding-top: 1vh;
}

.colunmNro {
  display: flex;
  justify-content: center;
}

.colunmNick {
  display: flex;
  justify-content: center;
}

.colunmTeach {
  display: flex;
  justify-content: center;
}

.colunmResp {
  display: flex;
  justify-content: center;
}

.colunmPreg {
  display: flex;
  justify-content: center;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.fullContainer {
  display: flex;
  flex-direction: column;
  background-color: lightyellow;
}

.middleRow {
  margin-bottom: 10vh;
}

.filterbar {
  background-color: #ffc107;
  padding: 9px;
}

.select {
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 16px;
  color: #4e4e4e;
  margin-left: 5vh;
  padding: 0.8vh;
}

.container {
  background-color: white;
  border-radius: 1vh;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 2%;
  margin-top: 1%;
  width: 70%;
}

@media screen and (max-width: 900px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: 96%;
  }
}

.columnsname {
  margin: 0px;
  padding: 0px;
  font-weight: 600;
}

.info {
  margin: 0px;
  margin-left: 1vw;
  padding: 0px;
  border-top: 1px solid grey;
}

.info p {
  margin-top: 2.5vh;
  margin-left: 1.5vw;
}
