.container {
  background-color: lightyellow;
}

.puestos {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  border-style: solid;
  border-radius: 10px;
  margin: 5vh;
  padding: 1vh;
}
