.AppResponder {
    background-color: lightyellow;
}

.download {
    cursor: pointer;
    z-index: -1; 
    position: relative;
    float: right;
    top: 1vh; 
    right: 0.5vw
}

.pdfdownload{
    cursor: pointer;
    width: 2.9%;
    min-width: 33px;
    position: relative;
    float: right;
    top: 1vh; 
    right: 8vw;
}