.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}

.fullContainer{
    display: flex;
    flex-direction: column;
    background-color: lightyellow;
}

.TitleAndExtrasBox {
  padding-top: 1vh;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  gap: 2vh;
}

.middleRow {
  width: 88%;
  margin-left: 6%;
  margin-top: 1%;
}

.rightBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 3vh;
}

.questionText {
  background-color: rgb(255, 255, 255);
  /* font-weight: bold; */
  /* font-size: 200%; */
  min-height: 100px;
  max-height: 300px;
  overflow-y: scroll;
  padding: 1vh;
  border: solid 2px grey;
  border-radius: 0.5vh;
  /* margin-left: 3vh; */
}

.likes {
  margin-left: 3vh;
  padding: 1vh;
}

.bajoTexto {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 5vh;
}

#tags{
  height: 30px;
  width: 70%;
  margin-top: 0.5vh;
  font-weight: 500;
}

.bajo {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  justify-content: space-between;
}

.tag {
  margin-right: 0.8vw;
}

.userImage {
  border-radius: 30px;
  width: 60px;
  padding-top: 2vh;
}

.userPreg {
  font-weight: 600;
}

#text textarea {
  width: 100%;
  height: 200px;
  border: solid 2px grey;
  background-color: white;
  font-family: "Source Serif Pro", serif;
  font-weight: 400;
  font-size: 15px;
  border-radius: 0.5vh;
}

.markdown {
  width: 100%;
  height: 200px;
  border: solid 2px grey;
  background-color: white;
  font-family: "Source Serif Pro", serif;
  font-weight: 400;
  font-size: 15px;
  padding: 2px;
  overflow-y: scroll;
  border-radius: 0.5vh;
}

.adjText {
  margin-right: 2vh;
}

.loaderImg {
  font-size: 14px;
}

.button {
  display: flex;
  align-items: center;
  height: 30%;
  margin-top: 20px;
}

.pregBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1.8%;
}

.btnCode {
  width: fit-content;
  height: 30px;
  background-color: #f9bf00;
  color: lightyellow;
  border: #f9bf00 solid 0.5px;
  border-radius: 0.5vh;
  font-weight: 300;
  font-size: 14px;
  justify-self: center;
  align-self: center;
}

.btnCode:hover {
  cursor: pointer;
  background-color: transparent;
  color: rgb(75, 71, 71);
}

.pictureBox {
  display: flex;
  align-items: flex-start;
  margin-left: 5%;
}

.answers {
  /* margin-bottom: 5%; */
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}

.answerForm {
  margin-top: 3%;
}

.form {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 2%;
}

.input1 {
  width: 100%;
}

.input2 {
  width: 100%;
}

.submit {
  width: fit-content;
  height: fit-content;
  background-color: #f9bf00;
  color: lightyellow;
  border: #f9bf00 solid 0.5px;
  border-radius: 0.5vh;
  font-weight: 300;
  font-size: 19px;
  justify-self: center;
  align-self: center;
}

.submit:hover {
  cursor: pointer;
  background-color: transparent;
  color: rgb(75, 71, 71);
}

.submit:disabled {
  cursor: text;
  border: #f9bf00 solid 0.5px;
  background-color: white;
  color: rgb(75, 71, 71);
}

.errorMessage {
  margin-bottom: 0.5vh;
  font-size: 0.8rem;
  color: rgb(241, 55, 55);
}
img[alt=image] { width: 200px; }

@media screen and (max-width: 740px) {
  .fullContainer{
    font-size: 12px;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .userImage {
    border-radius: 30px;
    width: 50px;
    padding-top: 2vh;
  }

  .btnCode {
    font-size: 11px;
    height: 25px;
  }

  .button {
    justify-content: center;
  }
  
  .submit {
    height: 30px;
    border-radius: 0.5vh;
    font-weight: 400;
    font-size: 13px;
  }

}
.adjBoxNone{
  display: none;
}
.permiteIMG{
  align-items: flex-start;
}

.descarga{
  /* box-shadow:2px 2px 2px 1px rgba(0,0,0,0.2); */
  /* border-radius: 1vh; */
  text-decoration: none;
  /* padding: 0.5vh; */
  color: black;
}

.descarga:hover{
  cursor: pointer;
  color: grey;
}
.notIncludes {
  display: none;
}

.none {
  display: none
}

.btns{
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 2vw;
}

.moreBtn:hover{
  cursor: pointer;
  color: grey;
}

.deleteBtn:hover{
  cursor: pointer;
  color: grey;
}
