
html {
    min-height: 100%;
    position: relative;
    background-color: lightyellow;
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}

.fullContainer{
    display: flex;
    flex-direction: column;
    background-color: lightyellow;
    padding-left: 6.3%;
}

.total{

    background-color: rgb(255, 192, 124);
    border-radius: 1vh;
    border: solid 1px black;
    margin-bottom: 2vh;
}

.TitleAndExtrasBox {
  padding-top: 1vh;
  /* margin-left: 3vh; */
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  gap: 6vh;
}

.middleRow {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.leftbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.rightBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 3vh;
}
.questionText {
  background-color: rgb(255, 255, 255);
  /* font-weight: bold; */
  /* font-size: 200%; */
  padding: 1vh;
  border: solid 2px grey;
  border-radius: 1vh;
  /* margin-left: 3vh; */
}
.answerIt {
  border-radius: 2vh;
  margin-bottom: 2vh;
}
.likes {
  margin-left: 3vh;
  padding: 1vh;
}


.bajoTexto {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 5vh;
}
.userImage {
  border-radius: 30px;
  width: 60px;
  padding-top: 2vh;
}

#text textarea {
  width: 100%;
  height: 100px;
  border: solid 2px grey;
  background-color: white;
  font-family: "Source Serif Pro", serif;
  font-weight: 400;
  font-size: 15px;
  border-radius: 1vh;
}

.markdown {
  width: 100%;
  height: 100px;
  border: solid 2px grey;
  background-color: white;
  font-family: "Source Serif Pro", serif;
  font-weight: 400;
  font-size: 15px;
  padding: 2px;
  overflow-y: scroll;
  border-radius: 1vh;
}

.button {
  display: flex;
  align-items: center;
  height: 30%;
  margin-top: 20px;
}

.pregBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1.8%;
}

.btnCode {
  width: fit-content;
  height: 30px;
  background-color: #f9bf00;
  color: lightyellow;
  border: #f9bf00 solid 0.5px;
  border-radius: 5%;
  font-weight: 300;
  font-size: 15px;
  justify-self: center;
  align-self: center;
}

.btnCode:hover {
  cursor: pointer;
  background-color: transparent;
  color: rgb(75, 71, 71);
}

.pictureBox {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.5%;
}

.answers {
  margin-bottom: 5%;
}

.answerForm {
  margin-top: 3%;
}

.form {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 2%;
}

.input1 {
  width: 100%;
}

.input2 {
  width: 100%;
}

@media screen and (max-width: 740px) {

  .form {
    display: flex;
    flex-direction: column;
  }

}