@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

html{
  min-height: 100%;
  position: relative;
}

.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow:hidden;
}

.fullContainer{
  display: flex;
  flex-direction: column;
}



.container {
  background-color: lightyellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.middleRow {
 max-width: 60vw;
}

.col1{
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.colOut{
  font-family: "Roboto", sans-serif;
}

.title{
  margin-bottom: 1.5vh;
}
