@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");

html {
  min-height: 100%;
  position: relative;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.fullContainer {
  display: flex;
  flex-direction: column;
}

.container {
  background-color: lightyellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middleRow {
  display: flex;
  justify-content: center;
  width: 100%;
}

.col {
  margin-top: 15vh;
  margin-bottom: 15vh;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 0;
}

.title {
  display: flex;
  font-size: 200%;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}
