.container {
  margin-bottom: 10vh;
}

.info {
  background: #ff8800;
  color: black;
  border-radius: 15px;
  font-weight: 700;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.info p {
  position: relative;
  top: 0.8vh;
}

.input {
  border: #ff8800 solid 2px;
  border-radius: 1vh;
  margin-bottom: 2vh;
  margin-top: 1vh;
}

.button {
  border: #ff8800 solid 2px;
  border-radius: 1vh;
  margin-bottom: 2vh;
  margin-top: 1vh;
}
