html {
  min-height: 100%;
  position: relative;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.container {
  margin-bottom: 5vh;
  padding: 0;
  margin: 0;
}

.info {
  background: #ff8800;
  color: black;
  border-radius: 0.5vh;
  font-weight: 700;
  margin-bottom: 2vh;
  margin-top: 2vh;
  margin-right: 1vw;
  margin-left: 1vw;
}

.adminRenders {
  padding: 0;
  margin: 0;
}

.dataAdmin {
  margin-right: 0.2vw;
  margin-left: 0.2vw;
  padding: 0;
}

.dataUsers {
  margin-right: 1vw;
  margin-left: 1vw;
  padding: 0;
}

.col {
  display: flex;
  justify-content: center;
}

.info p {
  position: relative;
  top: 0.8vh;
}

.input {
  border: #ff8800 solid 2px;
  border-radius: 0.5vh;
  margin-bottom: 2vh;
  margin-top: 1vh;
  margin-left: 1vw;
}

.button {
  border: #ff8800 solid 2px;
  border-radius: 0.5vh;
  margin-bottom: 2vh;
  margin-top: 1vh;
  margin-right: 1vw;
}

.notFound {
  margin-left: 2.5vh;
}
