.container {
  border: 1px black solid;
  border-radius: 0.5vh;
  margin-bottom: 0.2vh;
}

.buttonBorrar {
  margin-top: 1vh;
  border-radius: 0.5vh;
  background-color: red;
  color: white;
}

.buttonResolver {
  margin-top: 1vh;
  border-radius: 0.5vh;
  background-color: green;
  color: white;
}
.column{
  height: auto;
  word-wrap: break-word;
}