.container {
  border: 1px black solid;
  border-radius: 1vh;
  margin-bottom: 0.2vh;
}

.buttonBorrar {
  margin-top: 1vh;
  border-radius: 1vh;
  background-color: red;
  color: white;
}

.buttonResolver {
  margin-top: 1vh;
  border-radius: 1vh;
  background-color: green;
  color: white;
}
