.container {
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.buttonAlertas {
  display: flex;
  justify-content: center;
  width: 100%;
}

.buttonAlertas:focus {
  outline: none;
  box-shadow: none;
}

.buttonUsuarios {
  display: flex;
  justify-content: center;
  width: 100%;
}

.buttonUsuarioss:focus {
  outline: orange;
  box-shadow: none;
}

.buttonAdmin {
  display: flex;
  justify-content: center;
  width: 100%;
}

.buttonPreguntas {
  display: flex;
  justify-content: center;
  width: 100%;
}

.link {
  text-decoration: none;
}
