.container {
  border: 1px black solid;
  border-radius: 0.5vh;
  margin-bottom: 0.2vh;
  padding: 0;
}

.column {
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 1vh;
  color: white;
  background-color: green;
  border-radius: 0.5vh;
}
