.total {
  background-color: rgb(255, 255, 255);
  border-radius: 0.5vh;
  width: 85%;
  height: max-content;
  margin-bottom: 2vh;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.validated {
  border: 3px solid #2e7d32;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5vh;
  width: 85%;
  height: max-content;
  margin-bottom: 2vh;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.total:hover {
  transform: scale(102%);
}

.validated:hover {
  transform: scale(102%);
}

.pictureBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.none {
  display: none;
}

.userPreg span {
  font-weight: 650;
}

.Title {
  margin-bottom: 1%;
}

.Title span {
  font-weight: 600;
}

.TitleAndExtrasBox {
  padding-top: 1vh;
  margin-left: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.Extras {
  font-weight: 500;
}

.firstRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.rightBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 0vh;
  height: 20px;
}

.questionText {
  min-height: 100px;
  height: fit-content;
  max-height: 200px;
  background-color: rgb(255, 245, 211);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 1vh;
  border-radius: 0.5vh;
  margin-left: 3vh;
  margin-bottom: 0.5vh;
  overflow-y: scroll;
}

.bajoTexto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 2vw;
  height: 3.8vh;
  padding-top: 1.5vh;
}

.likes {
  display: flex;
  justify-content: space-between;
  width: 14%;
}

.userImage {
  border-radius: 30px;
  width: 8vh;
  padding-top: 2vh;
}

.fav:hover {
  cursor: pointer;
}

.answerIt {
  border: solid 1px black;
  border-radius: 0.5vh;
  background-color: transparent;
  position: relative;
  right: 0%;
}

.answerIt:hover {
  cursor: pointer;
  background-color: rgb(240, 238, 238);
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300;
  background-color: lightyellow;
  border: 2px solid #000;
  box-shadow: 24;
  border-radius: 0.5vh;
}

.enviar {
  margin-left: 42%;
  margin-bottom: 1vh;
  border: 1px solid black;
  background-color: transparent;
  color: rgb(67, 64, 64);
  border-radius: 0.5vh;
  font-style: italic;
}

.delete {
  cursor: pointer;
}

.deleteBtn:hover{
  cursor: pointer;
}


@media screen and (max-width: 980px) {
  .pictureBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-width: 670px) {
  .total {
    width: 100%;
    font-size: 12px;
  }

  .validated {
    width: 100%;
    font-size: 12px;
  }

  .bajoTexto {
    margin-left: 1vh;
    padding-top: 1vh;
    align-items: flex-start;
  }

  .userImage {
    width: 5vh;
  }
  .TitleAndExtrasBox {
    gap: 5vw;
  }
}
/* ------------------TooLTipDislike---------------------------- */
.span {
  position: relative;
}

.toolTip {
  position: absolute;
  border: none;
  background-color: #f5bf07;
  width: fit-content;
  min-height: 30%;
  color: white;
  padding: 0.3rem;
  text-align: center;
  border-radius: 0.5vh;
  font-size: 15px;
  bottom: -3rem;
  right: -2rem;
  visibility: hidden;
}

.toolTip::after {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #f5bf07;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  top: -17px;
  left: 2px;
}

.span:hover .toolTip {
  visibility: visible;
}
/* ------------------TooLTipLike---------------------------- */
.span2 {
  position: relative;
}

.toolTip2 {
  position: absolute;
  border: none;
  background-color: #f5bf07;
  width: fit-content;
  height: fit-content;
  color: white;
  padding: 0.3rem;
  text-align: center;
  border-radius: 0.5vh;
  font-size: 15px;
  bottom: -3rem;
  right: -0.5rem;
  visibility: hidden;
}

.toolTip2::after {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #f5bf07;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  top: -17px;
  left: 7px;
}

.span2:hover .toolTip2 {
  visibility: visible;
}
/* ------------------TooLTipFav1---------------------------- */
.span3 {
  position: relative;
}

.toolTip3 {
  position: absolute;
  border: none;
  background-color: #f5bf07;
  width: fit-content;
  height: fit-content;
  color: white;
  padding: 0.3rem;
  text-align: center;
  border-radius: 0.5vh;
  font-size: 15px;
  bottom: -4.7rem;
  right: -1.5rem;
  visibility: hidden;
}

.toolTip3::after {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #f5bf07;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  top: -17px;
  left: 24px;
}

.span3:hover .toolTip3 {
  visibility: visible;
}
/* ------------------TooLTipFav2---------------------------- */
.span4 {
  position: relative;
}

.toolTip4 {
  position: absolute;
  border: none;
  background-color: #f5bf07;
  width: fit-content;
  height: fit-content;
  color: white;
  padding: 0.3rem;
  text-align: center;
  border-radius: 0.5vh;
  font-size: 15px;
  bottom: -4.7rem;
  right: -1.5rem;
  visibility: hidden;
}

.toolTip4::after {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #f5bf07;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  top: -17px;
  left: 24px;
}

.span4:hover .toolTip4 {
  visibility: visible;
}
/* ------------------TooLTipDenunciar---------------------------- */
.span5 {
  position: relative;
}

.toolTip5 {
  position: absolute;
  border: none;
  background-color: #f5bf07;
  width: fit-content;
  height: fit-content;
  color: white;
  padding: 0.3rem;
  text-align: center;
  border-radius: 0.5vh;
  font-size: 15px;
  bottom: -3.2rem;
  right: -1.9rem;
  visibility: hidden;
}

.toolTip5::after {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #f5bf07;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  top: -17px;
  left: 28px;
}

.span5:hover .toolTip5 {
  visibility: visible;
}

.botonResp {
  background-color: transparent;
  position: relative;
  text-decoration: none;
  color: black;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 2px;
  height: 90%;
}

.botonResp:hover {
  cursor: pointer;
  font-weight: 650;
  color: black;
}

.span4 {
  position: relative;
}
/* --------------------------------------------------------------------- */
.span6 {
  position: relative;
}

.toolTip6 {
  position: absolute;
  border: none;
  background-color: #f5bf07;
  width: fit-content;
  height: fit-content;
  color: white;
  padding: 0.3rem;
  text-align: center;
  border-radius: 0.5vh;
  font-size: 1rem;
  bottom: -4.7rem;
  right: -1.5rem;
  visibility: hidden;
}

.toolTip6::after {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #f5bf07;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  top: -17px;
  left: 28.7px;
}

.span6:hover .toolTip6 {
  visibility: visible;
}
/*-------------------------------------------------------------------*/

.span67 {
  position: relative;
}

.toolTip7 {
  position: absolute;
  border: none;
  background-color: #f5bf07;
  width: fit-content;
  height: fit-content;
  color: white;
  padding: 0.3rem;
  text-align: center;
  border-radius: 0.5vh;
  font-size: 1rem;
  bottom: -2.2rem;
  right: 12.5rem;
  visibility: hidden;
}

.toolTip7::after {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #f5bf07;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  top: -17px;
  left: 20.7px;
}

.span7:hover .toolTip7 {
  visibility: visible;
}