#questionCard{
    /* border: solid 1px black; */
    border-radius: 0% 5% 5% 4%;
    box-shadow: 10px 5px 5px black;
    height: 19.5vh;
    display: flex;
    flex-direction: row;
    color: #2d3032;
    background-color:rgb(244, 244, 213);
}

#left{
    /* border: solid 1px red; */
    height: 20vh;
    width: 100%;
}

#first{
    display: flex;
    flex-direction: row;
    height: 6.5vh;
    align-items: center;
}

#name{
    /* border: solid 1px blue; */
    width: 60%;
    display: flex;
    flex-direction: row;
}

#photo{
    /* border: solid 1px black; */
    width: 25%;
    height: 4.2vh;
}

#avatar{
    width: 4vh;
    height: 4vh;
    float: right;
    margin-top: 0.1vh;
}

#user{
    /* border: solid 1px black; */
    width: 75%;
    height: 4vh;
    position: relative;
    left: 1vh;
}

#theme{
    /* border: solid 1px blue; */
    width: 40%;
    text-align: center;
}

#question{
    /* border: solid 1px rgb(50, 52, 72); */
    border-radius: 2%;
    height: 9vh;
    width: 94%;
    margin-left: 3%;
    display: grid;
    grid-template-columns: 18fr 1fr;
    background-color: rgb(231, 231, 216);
}

#question2{
    border: none;
    border-radius: 2%;
    height: 9vh;
    width: 94%;
    margin-left: 3%;
    display: grid;
    grid-template-columns: 16fr 1fr;
}

#divQuest{
    height: 8vh;
    margin-top: 0.5vh;
    width: 92%;
    color: #292a2b;
    align-self: center;
}

.editBtn{
    position: relative;
    top: 1.6vh;
}

.editFull{
    display: none;
}

#editFull{
    display: none;
}

.editFull2{
    display: flex;
}

.editTitle{
    align-self: flex-end;
}

#tags{
    height: 4vh;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}

#right{
    /* border-left: solid 1px black; */
    border-radius: 5%;
    padding-top: 1vh;
    height: 19.5vh;
    width: 20%;
    align-items: space-between;
    display: grid;
    grid-template-rows: 1fr 1fr 1.5fr;
    background-color: darkgrey;
    text-align: center;
}

.btns{
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 2vh
}

.moreBtn:hover{
    cursor: pointer;
}

.deleteBtn:hover{
    cursor: pointer;
}


@media screen and (max-width: 670px){
    #first span{
        font-size: small;
    }
    #questionCard p{
        font-size: small;
    }
    #tags span{
        font-size: small;
    }
}

@media screen and (max-width: 500px){
    #name{
        width: 65%;
    }
    #photo{
        width: 30%;
    }
    #avatar{
        width: 3vh;
        height: 3vh;
        float: right;
        margin-top: 0.3vh;
    }
    #user{
        width: 70%;
        /* height: 4vh;
        position: relative;
        left: 1vh; */
    }
    #theme{
        /* border: solid 1px blue; */
        width: 35%;
        text-align: flex-end;
    }
    #first span{
        font-size: smaller;
    }
    #right span{
        font-size: smaller;
    }
    #tags span{
        font-size: smaller;
    }    
    .btns{
        gap: 0.5vh
    }
}

@media screen and (max-width: 400px){
    #right span{
        font-size: 9.5px;
    }
    .btns{
        gap: 0vh
    }
}