#questionCard{
    /* border: solid 1px black; */
    border-radius: 0% 1vh 2vh 1vh;
    box-shadow: 10px 5px 5px;
    /* height: 190px; */
    height: min-content;
    display: flex;
    flex-direction: row;
    color: #2d3032;
    background-color:rgb(255, 255, 255);
}

#left{
    /* height: 190px; */
    width: 100%;
}

#first{
    display: flex;
    flex-direction: row;
    /* height: 45px; */
    align-items: center;
}

#name{
    /* border: solid 1px blue; */
    width: 45%;
    display: flex;
    flex-direction: row;
    font-weight: 500;
}

#photo{
    /* border: solid 1px black; */
    width: 25%;
    height: 32px;
}

#avatar{
    width: 32px;
    height: 32px;
    float: right;
    margin-top: 0.1vh;
}

#user{
    /* border: solid 1px black; */
    width: 75%;
    margin-top: 0.5vh;
    margin-left: 1vh;
}

#theme{
    /* border: solid 1px blue; */
    width: 52%;
    font-weight: 500;
    /* text-align: center; */
}

#question{
    border-radius: 0.5vh;
    /* height: 115px; */
    width: 95%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: row;
}

#question2{
    border: none;
    border-radius: 0.5vh;
    /* height: 115px; */
    width: 96%;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
}

#divQuest{
    /* border: 1px solid red; */
    /* height: 110px; */
    margin-top: 0.5vh;
    margin-left: 1.5vh;
    width: 98%;
    color: #292a2b;
    background-color: rgb(255, 245, 211);
    border-radius: 0.5vh;
}

.confirmEdit {
    margin-top: 35px;
}

.editBtn{
    top: 35px;
    left: 10px
}

.editFull{
    display: none;
}

#editFull{
    display: none;
}

.editFull2{
    /* height: 100px; */
    margin-left: 1.5vh;
    width: 98%;
    color: #292a2b;
    align-self: center;
    border-radius: 0.5vh;
}

.editTitle{
    align-self: flex-start;
    /* justify-content: flex-end; */
    /* border: 1px solid red; */
    width: 47.8%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.btnJS {
    align-self: flex-end;
}

.btnCode {
    width: fit-content;
    height: 30px;
    background-color: #f9bf00;
    color: lightyellow;
    border: #f9bf00 solid 0.5px;
    border-radius: 0.5vh;
    font-weight: 300;
    font-size: 15px;
    justify-self: center;
    align-self: center;
}
  
.btnCode:hover {
    cursor: pointer;
    background-color: transparent;
    color: rgb(75, 71, 71);
}

.resp {
    cursor: pointer;
    font-weight: bold;
}

.editText {
    width: 98%;
    height: 100px;
    background-color: rgb(255, 245, 211);
    border-radius: 0.5vh;
}

#tags{
    height: 30px;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
}

#right{
    /* border-left: solid 1px black; */
    border-radius: 0.5vh;
    /* padding-top: 20px; */
    /* height: 90%; */
    align-items: center;
    width: 20%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #f9bf00;
    text-align: center;
    margin: 1.5%;
    border-radius: 5% 5% 5% 5%;
    /* box-shadow: 4px 2px 2px 0px; */
}

.btns{
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 2vw;
}

.moreBtn:hover{
    cursor: pointer;
}

.deleteBtn:hover{
    cursor: pointer;
}

.markdown {
    height: 108px;
    overflow-y: scroll;
    border-radius: 0.5vh;
}

@media screen and (max-width: 1000px){
    .btnCode {
        font-size: 12px;
    }
    .editTitle{
        margin-left: 4.5%;
        width: 83.5%;
    }
    #theme {
        width: 92%; 
        font-weight: 450;
    }
    #name {
        width: 100%;
        font-weight: 500;
    }

    #first{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
}

@media screen and (max-width: 800px){
    .btnCode {
        font-size: 10px;
    }
    .markdown {
        font-size: small;
    }
}


@media screen and (max-width: 670px){
    #first span{
        font-size: small;
    }
    #questionCard p{
        font-size: small;
    }
    #tags span{
        font-size: small;
    }
    .editTitle{
        margin-left: 4.5%;
        width: 90%;
    }
    .btnCode {
        font-size: 9px;
        height: 30px;
    }
}

@media screen and (max-width: 500px){
    #name{
        width: 65%;
    }
    #photo{
        width: 30%;
    }
    #avatar{
        float: right;
        margin-top: 0.3vh;
    }
    #user{
        width: 70%;
        /* height: 4vh;
        position: relative;
        left: 1vh; */
    }
    #theme{
        /* border: solid 1px blue; */
        /* width: 35%; */
        text-align: flex-end;
    }
    .editBtn{
        left: 3px
    }

    .btnCode {
        font-size: 8px;
        height: 35px;
    }
    
    #first span{
        font-size: smaller;
    }
    #right span{
        font-size: smaller;
    }
    #tags span{
        font-size: smaller;
    }    
    .btns{
        gap: 0.5vh
    }
}

@media screen and (max-width: 400px){
    #right span{
        font-size: 9px;
    }
    .btns{
        gap: 0vh;
    }
}