.total {
  background-color: rgb(255, 255, 255);
  border-radius: 1vh;
  width:70%;
  margin-bottom: 2vh;
  box-shadow:2px 2px 2px 1px rgba(0,0,0,0.2);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.total:hover{
  
  transform: scale(102%);

}

.TitleAndExtrasBox {
  padding-top: 1vh;
  margin-left: 3vh;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  gap: 6vh;
}
.leftbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.rightBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 3vh;
}
.questionText {
  height: 60%;
  background-color: rgb(255, 245, 211);
  box-shadow:2px 2px 2px 1px rgba(0,0,0,0.2);
  padding: 1vh;
  border-radius: 1vh;
  margin-left: 3vh;
}
.answerIt {
  border-radius: 2vh;
  margin-bottom: 2vh;
}
.likes {
  margin-left: 3vh;
  padding: 1vh;
}

.bajoTexto {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 5vh;
}
.userImage {
  border-radius: 30px;
  /* width: 60px; */
  width: 70%;
  padding-top: 2vh;
}

.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: palegoldenrod;
  border: 2px solid #000;
  box-shadow: 24;
}

.delete{
  cursor: pointer;
}


