/* .markdown {
  height: 100px;
  background-color: rgb(255, 245, 211);
  box-shadow:2px 2px 2px 1px rgba(0,0,0,0.2);
  padding: 1vh;
  border-radius: 1vh;
  margin-left: 3vh;
  margin-bottom: 0.5vh;
  overflow-y: scroll;
} */

.total {
  background-color: rgb(255, 255, 255);
  border-radius: 0.5vh;
  width:85%;
  height: max-content;
  margin-bottom: 2vh;
  box-shadow:2px 2px 2px 1px rgba(0,0,0,0.2);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.validated {
  border: 3px solid #2e7d32;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5vh;
  width:85%;
  height: max-content;
  margin-bottom: 2vh;
  box-shadow:2px 2px 2px 1px rgba(0,0,0,0.2);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.total:hover{
  transform: scale(102%);
}

.validated:hover{
  transform: scale(102%);
}

.pictureBox{
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.none {
  display: none;
}

.userPreg h6 {
  font-weight: 600;
}

.userPreg span {
  font-weight: 650;
}

.Title{
  margin-bottom: 1%;
}

.Title span{
  font-weight: 600;
}

.TitleAndExtrasBox {
  /* border: solid 1px black; */
  padding-top: 1vh;
  /* margin-left: 2.5vh; */
  /* margin-right: 10px; */
  margin-left: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.firstRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  /* gap: 100%; */
}

.rightBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 0vh;
  height: 20px;
  /* border: solid 1px black; */
}

#question{
  border-radius: 0.5vh;
  /* height: 115px; */
  width: 95%;
  margin-left: 2%;
  display: flex;
  flex-direction: row;
}

#question2{
  border: none;
  border-radius: 0.5vh;
  /* height: 115px; */
  width: 96%;
  margin-left: 2%;
  display: flex;
  flex-direction: row;
}

#divQuest{
  /* border: 1px solid red; */
  /* height: 110px; */
  width: 98%;
  color: #292a2b;
  background-color: rgb(255, 245, 211);
  border-radius: 0.5vh;
}

.confirmEdit {
  margin-left: 18px; 
}

.editFull{
  display: none;
}

#editFull{
  display: none;
}

.editFull2{
  /* height: 100px; */
  /* margin-left: 1.5vh; */
  width: 98%;
  color: #292a2b;
  align-self: center;
  border-radius: 0.5vh;
}

.editTitle{
  align-self: flex-start;
  /* justify-content: flex-end; */
  /* border: 1px solid red; */
  width: 47.8%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.editText {
  width: 98%;
  height: 100px;
  background-color: rgb(255, 245, 211);
  border-radius: 0.5vh;
}

.markdown {
  height: 105px;
  overflow-y: scroll;
  border-radius: 0.5vh;
}

.bajoTexto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95.2%;
  padding-left: 1.5vw;
  height: 3.8vh;
  padding-top: 1.5vh;
}

.cantLikes {
  font-weight: 600;
}

.userImage {
  border-radius: 30px;
  width: 8vh;
  padding-top: 2vh;
}

.answerIt {
  border: solid 1px black;
  border-radius: 0.5vh;
  background-color: transparent;
  position: relative;
  right: 0%;
}

.answerIt:hover {
  cursor: pointer;
  background-color: rgb(240, 238, 238);
}

.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: palegoldenrod;
  border: 2px solid #000;
  box-shadow: 24;
}

.moreBtn:hover{
  cursor: pointer;
}

.deleteBtn:hover{
  cursor: pointer;
}

.btnCode {
  width: fit-content;
  height: 30px;
  background-color: #f9bf00;
  color: lightyellow;
  border: #f9bf00 solid 0.5px;
  border-radius: 0.5vh;
  font-weight: 300;
  font-size: 15px;
  justify-self: center;
  align-self: center;
  position: relative;
  top: -30px;
}

.btnCode:hover {
  cursor: pointer;
  background-color: transparent;
  color: rgb(75, 71, 71);
}

@media screen and (max-width: 980px){
  .pictureBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between
  }
}

@media screen and (max-width: 670px){
  .total {
    width: 100%;
    font-size: 12px;
  }

  .validated {
    width: 100%;
    font-size: 12px;
  }

  .bajoTexto {
    margin-left: 1vh;
    /* height: 9vh; */
    /* margin-top: 1vh; */
    padding-top: 1vh;
    align-items: flex-start;
  }

  .userImage {
    width: 5vh;
  }
  .TitleAndExtrasBox {
    /* border: solid 1px black; */
    gap: 5vw;
   }
}