.subAnsBox{
     display: flex;
     border-radius: 0.5vh;
     flex-direction: column;
     box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
     word-wrap: break-word;
     background-color: #f9bf00;
     padding: 1%;
     z-index: 1;
     max-height: 70vh;
     overflow: hidden;
     position: absolute;
     left: 25%;
     top: 96%;
}

.row1{
    overflow-y: scroll;
    margin-bottom: 1.5vh;
    /* border: 1px solid black; */
}

.row2{
    display: flex;
    gap: 5px;
}

.row2 textarea{
    border-radius: 0.5vh;
    color: rgba(0, 0, 0, 0.832);
    width: 80%;
}

.button button{
    border-radius: 0.5vh;
    background-color: lightyellow;
    color: black;
    border: 1.5px solid rgb(127, 127, 127);
    height: 8vh;
    font-weight: 350;
    font-size: 15px;
    justify-self: center;
    align-self: center;
}

.button button:hover{
    cursor: pointer;
    background-color: rgb(249, 249, 195);;
    color: rgb(75, 71, 71);
}

.error {
    margin-left: 0.5vh;
    font-size: 0.8vw;
    color: black;
}

.button button:disabled {
    background-color: white;
    color: #c0c0c0;
    cursor: none;
    border: black solid 0.5px;
  }


/* COMENTARIO INDIVIDUAL */

/* .comentario{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: max-content;
}

.comentario img{
    margin-right: 0.5vw;
}

.comentario div{
    display: flex;
}

.comentario div span{
    font-weight: 500;
}

.comentarioContainer{
    background-color: whitesmoke;
    box-shadow:2px 2px 2px 1px rgba(0,0,0,0.2);
    border-radius: 0.5vh;
    border: none;
    width: 40vw;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userImage{
  border-radius: 100%;
  height: 30px;
}

.texto{
    padding: 1%;
    background-color: beige;
    margin-bottom: 5px;
    width: 100%;
}

.primero {
    margin-left: 4px;
    margin-top: 3px;
    height: min-content;

}

.buttons {
    margin-top: 0.5vh;
    margin-right: 1vw;
    gap: 1vw;
}

.none {
    display: none;
} */