.col1 {
  border: 1px black solid;
}

.col2 {
  display: flex;
  border: 1px black solid;
  align-items: center;
}

.col3 {
  display: flex;
  border: 1px black solid;
  align-items: center;
}

.links {
  width: 30%;
  font-size: 1.4vw;
  text-decoration: none;
  color: black;
}
