.container {
  background-color: yellow;
}

.col1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  width: 30%;
  font-size: 1.25vw;
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 900px) {
  .links {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 720px) {
  .links {
    font-size: 1.75vw;
  }
}
@media screen and (max-width: 600px) {
  .links {
    font-size: 2.25vw;
  }
}
@media screen and (max-width: 450px) {
  .links {
    font-size: 2.75vw;
  }
}
