.col1 {
  display: flex;
  border: 1px black solid;
  justify-content: center;
  align-items: center;
}

.col2 {
  display: flex;
  border: 1px black solid;
  align-items: center;
  justify-content: center;
}

.col3 {
  display: flex;
  border: 1px black solid;
  align-items: center;
  justify-content: center;
}

.links {
  width: 30%;
  font-size: 1.5vw;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 600px) {
  .links {
    font-size: 2.25vw;
  }
}
