.container {
  background-color: lightyellow;
  /* margin: 1.5%; */
  padding: 1.5%;
}

.col1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.col2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.col3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.col4 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 13vw;
}

.logo:hover {
  width: 13vw;
  opacity: 70%;
}

.linksInt {
  width: 30%;
  font-size: 1.7vw;
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 900px) {
  .linksInt {
    font-size: 2vw;
  }
}
@media screen and (max-width: 720px) {
  .linksInt {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 600px) {
  .linksInt {
    font-size: 3vw;
  }
}
@media screen and (max-width: 450px) {
  .linksInt {
    font-size: 4vw;
  }
}

.name {
  font-size: 1.2vw;
}

.userImage {
  border-radius: 100%;
  width: 8vh;
  height: 8vh;
  border-style: solid;
  border-color: #f9bf00;
  border-width: 0.9vh;
  margin: 1vh;
}
@media screen and (max-width: 600px) {
  .userImage {
    width: 30px;
  }
}

.cajaLogReg {
  font-size: 20 px;
}

.middleRow {
  height: 25vw;
  color: blue;
}

.linkDesp {
  text-decoration: none;
}
.imgNameLogOut {
  display: flex;
  align-items: center;
  justify-content: center;
}
