.container {
  background-color: lightyellow;
  padding: 1.5%;
}

.col1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.colPreg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col4 {
  display: flex;
  align-items: center;
  justify-content: right;
}

.logo {
  width: 45%;
  margin-left: 25%;
}

.logo:hover {
  width: 45%;
  opacity: 70%;
}

.linksInt {
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;

  font-weight: bold;
  width: 30%;
  font-size: 100%;
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 900px) {
  .linksInt {
    font-size: 2vw;
  }
}
@media screen and (max-width: 720px) {
  .linksInt {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 600px) {
  .linksInt {
    font-size: 3vw;
  }
}
@media screen and (max-width: 450px) {
  .linksInt {
    font-size: 4vw;
  }
}

.botonLogIn {
  margin-right: 28.5%;
}
