.container {
  background-color: yellow;
}

.row1 {
  display: flex;
  align-items: center;
}

.col1 {
  display: flex;
}

.col2 {
  display: flex;
  justify-content: flex-end;
}

.logo {
  width: 25vw;
}

.logo:hover {
  width: 25vw;
  opacity: 70%;
}
