.button {
  margin-top: 1vh;
  border-radius: 5%;
  background: #f9bf00;
  color: lightyellow;
  border: #f9bf00 solid 2px;
}

.button:hover {
  cursor: pointer;
  color: #f9bf00;
  background-color: lightyellow;
}