.input1{
    width: 180px;
    height: 30px;
    border-radius: 10%;
    background: rgba(233, 236, 239, 0.8);
    font-family: 'Source Serif Pro', serif;
}

.input1:hover {
    cursor: text;
}

.searchBar button{
    margin-left: 5px;
    width: 75px;
    height: 30px;
    background-color: rgba(233, 236, 239, 0.8);
    border: #c0c0c0 solid 1.8px;
    border-radius: 10%;
    color: #2c383e;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    font-size: 15px;
}

.searchBar button:hover {
    cursor: pointer;
    color: rgb(75, 71, 71);
    background-color: darkgrey;
}

@media screen and (max-width: 670px){
    #input1{
        width: 150px;
        height: 25px;
    }
    .searchBar button{
        width: 60px;
        height: 25px;
        font-size: 13px;
    }
}

@media screen and (max-width: 670px){
    #input1{
        width: 150px;
        height: 25px;
    }
    .searchBar button{
        width: 60px;
        height: 25px;
        font-size: 13px;
    }
}