.total{
    background: white;
    box-shadow:2px 2px 2px 1px rgba(0,0,0,0.2);
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    padding: 1%;
    border-radius: 0.5vh;
    position: relative;
}

.validated{
  border: 3px solid #2e7d32;
  background: white;
  box-shadow:2px 2px 2px 1px rgba(0,0,0,0.2);
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  padding: 1%;
  border-radius: 0.5vh;
}

.info{
    display: flex;
    gap: 3%;
    margin-bottom: 1%;
}

.markdown {
  min-height: 100px;
  height: fit-content;
  max-height: 200px;
  background-color: rgb(255, 245, 211);
  box-shadow:2px 2px 2px 1px rgba(0,0,0,0.2);
  padding: 1vh;
  border-radius: 0.5vh;
  margin-bottom: 0.5vh;
  overflow-y: scroll;
}

.first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#name{
  display: flex;
  flex-direction: row;
  font-weight: 500;
  padding-bottom: 1.5vh;
}

#photo{
  height: 38px;
}

#avatar{
  width: 38px;
  height: 38px;
  float: right;
  margin-top: 0.1vh;
}

#user{
  margin-top: 0.8vh;
  margin-left: 1vh;
}

.btnValidate {
  width: fit-content;
  height: 30px;
  background-color: #f9bf00;
  color: lightyellow;
  border: #f9bf00 solid 0.5px;
  border-radius: 0.5vh;
  font-size: 15px;
  justify-self: center;
  align-self: center;
}

.btnValidate:hover {
  cursor: pointer;
  background-color: transparent;
  color: rgb(75, 71, 71);
}

.editFull{
  display: none;
}

#editFull{
  display: none;
}

.editFull2{
  /* height: 100px; */
  /* margin-left: 1.5vh; */
  width: 90%;
  color: #292a2b;
  align-self: center;
  border-radius: 0.5vh;
}

#question2{
  border: none;
  border-radius: 0.5vh;
  height: 200px;
  width: 104%;
  display: flex;
  flex-direction: row;
}

.editText {
  width: 100%;
  height: 180px;
  background-color: rgb(255, 245, 211);
  border-radius: 0.5vh;
  /* border: 1px solid red; */
}

.bajoTexto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 0.5vw;
  height: 3vh;
  padding-top: 1.5vh;
  margin-bottom: 1vh;
  /* border: 1px solid black */
}

.none {
  display: none;
}

/* .likes span{
  margin-right: 1vw;
} */

.likes {
  display: flex;
  justify-content: space-between;
  width: 7.5%;
}

.fav:hover{
  cursor: pointer;
}

.delete{
  cursor: pointer;
}

.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300;
  background-color: lightyellow;
  border: 2px solid #000;
  box-shadow: 24;
  border-radius: 0.5vh;
}

.enviar {
  margin-left: 42%;
  margin-bottom: 1vh;
  border: 1px solid black;
  background-color: transparent;
  color: rgb(67, 64, 64);
  border-radius: 0.5vh;
  font-style: italic;
}

.btnCode {
  width: fit-content;
  height: 30px;
  background-color: #f9bf00;
  color: lightyellow;
  border: #f9bf00 solid 0.5px;
  border-radius: 0.5vh;
  font-weight: 300;
  font-size: 15px;
  justify-self: center;
  align-self: center;
  position: relative;
  top: -12%;
  left: -100%;
}

.btnCode:hover {
  cursor: pointer;
  background-color: transparent;
  color: rgb(75, 71, 71);
}

.confirmEdit {
  margin-left: 13px; 
  margin-top: 55px; 
}

.moreBtn:hover{
  cursor: pointer;
  color: grey;
}

.deleteBtn:hover{
  cursor: pointer;
  color: grey;
}

.editBajo {
  width: 90%;
}

.editBtn {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}

.error {
  margin-left: 0.5vh;
  margin-top: -0.7vh;
  margin-bottom: 0.5vh;
  font-size: 0.8rem;
  color: #f9bf00;
}

#hidden {
  visibility: hidden;
}

.hidden {
  visibility: hidden;
}

.notIncludes {
  display: none;
}

@media screen and (max-width: 740px) {
  #photo{
    height: 30px;
  }
  
  #avatar{
    width: 30px;
    height: 30px;
    float: right;
    margin-top: 0.1vh;
  }

  .btnCode {
    font-size: 11px;
    height: 25px;
    /* top: -2px; */
  }

  .btnValidate {
    font-size: 12px;
  }

  .confirmEdit {
    margin-left: 2px; 
    margin-top: 55px; 
  }

  #question2{
    width: 104%;
  }

  .error {
    font-size: 11px;
  }
  
}

.spn1{
  position: relative;
}

.toolTip1{
  position: absolute;
  border: none;
  background-color: #f5bf07;
  width:320%;
  min-height: 30%;
  color: white;
  padding: .3rem;
  text-align: center;
  border-radius: .5rem;
  font-size: 1rem;
  bottom: -4.7rem;
  right:-1.5rem;
  visibility: hidden;
}

.toolTip1::after{
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #f5bf07;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  top: -17px;
  left: 60.7px;

}
.spn1:hover .toolTip1{
  visibility: visible;
}
.descarga{
  /* box-shadow:2px 2px 2px 1px rgba(0,0,0,0.2); */
  /* border-radius: 1vh; */
  text-decoration: none;
  /* padding: 0.5vh; */
  color: black;
}

.descarga:hover{
  cursor: pointer;
  color: grey;
}

.comentarios{
  font-weight: 500;
  cursor: pointer;
}

.comentarios:hover{
  font-weight: 650;
  cursor: pointer;
}