.column {
    display: flex;
    align-items: flex-end;
}

.toUser {
    text-decoration: none;
    color: black;
  }
  
  .toUser:hover {
    cursor: pointer;
    /* font-weight: 650; */
    color: black;
  }
  