.foto{
    width: 100px;
    height: 100px;
    border-radius: 1vh;
}

.fullContainer{
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    background-color: lightyellow;
}

.col2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.photo {
    display: flex;
    flex-direction: column;
}

.btn input {
    margin-top: 1vh;
    font-size: 0.6rem;
    border-radius: 5%;
}

.btnPhoto{
    border-radius: 1vh;
    background-color: rgb(240, 238, 238);
    margin-left: 2vh;
}

.btnPhoto:hover {
    cursor: pointer;
    background-color: rgb(215, 212, 212);
}

@media screen and (max-width: 900px) {
    .fullContainer{
        display: flex;
        flex-direction: column;
    }
    .btnPhoto{
        margin-top: 2vh;
    }
  }